# Configuration du keystore pour la signature release
# RENOMMEZ ce fichier en "keystore.properties" et remplissez les valeurs

storePassword=VOTRE_MOT_DE_PASSE_KEYSTORE
keyPassword=VOTRE_MOT_DE_PASSE_KEY
keyAlias=onykroua-key
storeFile=onykroua-release.keystore
